[2015-02-21 20:28] edtjones opened #1 "Resolve links for returned fields"
If a field is a `Contentful::Link`, we should call resolve() on it so we get a proper object.

This needs to be done in `ContenfulModel::Base.method_missing()`

[2015-02-21 20:28] edtjones opened #2 "searching doesn't work properly"
There's some work to be done in search. I think the syntax could do with being improved.

[2015-02-21 20:30] edtjones opened #3 "Add utility class to wrap Contentful::Asset"
If a `Contentful::Asset` object is returned, it would be useful to easily extract e.g. the URL, and have methods for resizing. This is best done in a class which can be mapped to the returned objects.

[2015-02-21 20:34] edtjones opened #4 "Work out how to show the parent entry in the child (i.e. reverse-map a parent-child relationship)"
Contenful shows links to other entries as Contentful::Link entries on models. We need to provide a way of resolving in the other direction.

One solution could be to add an instance variable holding the parent when resolving the child (see #1).

[2015-02-24 12:46] pxlpnk opened #5 "invalid version 0.0.6.1"
This doesn't seem to fit into the versioning schema
https://github.com/errorstudio/contentful_model/blob/0.0.6.1/lib/contentful_model/version.rb#L2

[2015-02-25 12:08] #5 closed

[2015-03-30 11:53] edtjones opened #7 "ancestors() needs to make an API call and iterate over all the objects of a particular class"
If you're using `has_many_nested()` on a model, `ancestors()` works fine if you've called a child from its parent, thus:

[code]

but if you do this, it doesn't work:
[code]

We need to get all Page objects by calling Page.all.load on the Contentful api, and iterate over them to get the ancestors to the current page.

[2015-04-01 14:09] edtjones commented on #4
As long as you're iterating from parent to child, this works now.

[2015-04-01 14:09] #4 closed

[2015-04-01 14:12] edtjones commented on #2
Resolved in 9e6ba3ed9f593287dde0d8a2a2e6c5e92abc2601

[2015-04-01 14:12] #2 closed

[2015-04-09 16:51] edtjones opened #9 ".to_json() doesn't work because of a circular error somewhere"
It would be nice to be able to call `.to_json()` on a ContentfulModel object but it seems to fall over because somewhere there's a self-reference.

[2015-05-19 14:24] maqen opened #10 "How to get has_many relation working?"
Thanks for your work on this gem. Looks like a good start!

Trying to get a has_many relationship to work.

Have parent model *Slideshow*

[code]

And child *Slide*

[code]

Trying to get my *slides* via ```Slideshow.first.slides``` but it only returns an empty array ```[]```

See when calling in console that the *slideshow* object has the ```:slides``` field filled.

[code]

Any tips on debugging

[2015-05-19 14:34] maqen commented on #10
Happen to solve this don't see what problem what but has_many now resolves ```:slides```

[2015-06-19 17:57] antwonlee opened #11 "Unable to load application: NoMethodError: private method `include' called for ContentfulModel::Base"
I am getting:

[code]

and I am initializing like this:

[code]

What am I missing here?  Any help would be appreciated.

[2015-06-19 18:03] antwonlee commented on #11
This seems to be the problem?
[code]

[2015-06-19 18:41] antwonlee commented on #11
updating ruby version in rails fixed it.

[2015-06-20 21:57] #11 closed

[2015-07-23 00:17] TrevorBramble opened #13 "Configuration is lost after initialization"
Completely new Rails 4.2.3 application. The only changes to the Gemfile have been removal of Spring, addition of dotenv, and the latest contentful_rails and contentful_model gems as published on rubygems.org.

I added an initializer as shown in the README.

[code]

And I defined one model, Category.
[code]

So here's what happens when I fire up the Rails console:
[code]

I've spent a bunch of time

[2015-07-23 18:54] TrevorBramble commented on #13
Asked about this on Stack Overflow, for what it's worth. http://stackoverflow.com/questions/31593600/configuration-of-contentfulmodel-gem-is-lost-after-initialization

[2015-07-24 16:58] TrevorBramble commented on #13
[The answer was inside you all along.](https://github.com/errorstudio/contentful_rails/blob/master/lib/contentful_rails/engine.rb#L13-L18)

contentful_rails/lib/contentful_rails/engine.rb
[code]

@edtjones, either the contentful_model README needs to change to agree with this (and break anyone already using the gems) or please make sure you're not re-initializing the configuration in the contentfu

[2015-07-27 14:13] edtjones commented on #13
@TrevorBramble sorry for the slow response. Just to be clear, is this a documentation issue with contentful_model, or with contentful_rails?

[2015-07-27 14:25] edtjones commented on #13
@TrevorBramble I can see the issue. I fixed in https://github.com/errorstudio/contentful_rails/issues/7 and have release gem version 0.2.2.2 - thanks for the heads up :-)

[2015-07-27 14:25] #13 closed

[2015-08-27 20:49] zrisher commented on #1
Hey @edtjones, yes it looks like on [line 20](https://github.com/errorstudio/contentful_model/blob/master/lib/contentful_model/base.rb#L20) if we simply resolved the asset it should work just fine. It also seems like the first level of returned link are being auto-resolved by the contentful ruby client - I wonder if we were to set the `include` query param to equal the total defined depth of an as

[2015-08-28 00:02] zrisher opened #14 "provide link to usage documentation for find_by filtering"
In `README.md`:

and in `lib/contentful_model/chainable_queries.rb`:

[code]

I can't find documentation on the ActiveRecord version that functions with hash options like `:gte`. Could you please provide a link to somewhere that shows us all the parameters we can use? Apologies if this is simple for other rails users, it's been a while, but I'm having trouble finding it digging through their docum

[2015-09-03 15:29] edtjones commented on #14
hi @zrisher yeah - sorry - I think the README is behind the code. Will update ASAP.

[2015-09-04 10:10] zrisher commented on #14
No worries, thanks for this gem! Using it successfully in multiple production environments.

[2015-09-11 16:19] cabouffard commented on #10
I am having the same problem.

Could you tell me how you fixed it?

[2015-09-11 16:21] edtjones commented on #10
hi @cabouffard have you specified `belongs_to_many` on the child model? https://github.com/errorstudio/contentful_model#belongs_to_many

[2015-09-11 16:26] cabouffard commented on #10
Hi @edtjones

[code]
[code]

[code]

`Post.all.load.first.categories` returns `[]`
`Post.all.load.category` returns
[code]

Do you want me to open a separate issue?

[2015-09-11 16:29] edtjones commented on #10
Hi @cabouffard I have seen that where the parent object hasn't been re-published. Try making sure you publish everything, and let me know how you get on :-)

[2015-09-11 16:44] cabouffard commented on #10
Everything has been republished (see screenshot for proof), I restarted my rails server and the same thing happens.

![screen shot 2015-09-11 at 12 42 43 pm](https://cloud.githubusercontent.com/assets/1725061/9820563/a900d15e-5882-11e5-84ae-96c17527b2fd.png)

[2015-09-11 19:10] edtjones commented on #10
Hmm weird @cabouffard I'll see if I can repeat it. Might not be immediately though I'm afraid.

[2015-09-14 15:46] nickdunn opened #16 "Specify order field"
Is it possible to pass an order argument using this gem?

http://docs.contentfulcda.apiary.io/#reference/search-parameters/order

[2015-09-14 15:48] nickdunn commented on #16
Yes :-)

[2015-09-14 15:48] #16 closed

[2015-09-14 17:41] edtjones commented on #16
Heh - these are the best sorts of issues :-)

Ed

[2015-09-24 16:00] zrisher opened #17 "Ruby's .flatten cannot be called on an array containing a ContentfulModel"
If you call Ruby's `.flatten` on an array containing ContentfulModels, you receive a `ContentfulModel::AttributeNotFoundError` for the method `to_ary`. This breaks the execution of flatten for later elements, so you can't simply catch the error.

`Array.flatten` calls `to_ary` on each element and expects to catch a `NoMethodError` if it's not defined. However, this model uses `method_missing` and

[2015-11-16 13:53] #17 closed

[2015-12-15 17:10] Waynenabors commented on #10
@cabouffard I have the same problem. Seems that the belongs_to_many only works if the child (Author) is FieldType:Link, and not FieldType:Array on the parent (Post).

Until someone has a better answer, I created a new link (has one) field on Post called User, and then the example here https://github.com/errorstudio/contentful_model#belongs_to_many worked fine.

[2015-12-15 22:08] edtjones commented on #10
Sorry not to have been able to dig into this yet, @Waynenabors @cabouffard - my experience has been that sometimes entities have child links which are really just placeholders. We haven't had a Contentful project at Error for a while so I haven't had an opportunity to check.

[2016-04-02 14:24] deanfields opened #22 "Belongs_to_many error"
I am getting the following error: undefined method `id' for #<Array:0x007ffa4659f018>

The parent has a relationship with a field type of array.

This seems to point to line 79 in:
lib/contentful_model/associations/belongs_to_many.rb

[2016-04-02 14:35] deanfields commented on #22
I have added inverse_of onto the parent belongs_to, this has fixed the error. I'm not sure the readme explains this very well.

The array is empty though, when it shouldn't be

[2016-04-21 15:30] zfhui opened #23 "Method call on a model should not be camelized"
While calling a method on a model (e.g. `office.postal_code`), the `method_missing` method in `ContentfulModel::Base` camelizes the method (see [source](https://github.com/contentful/contentful_model/blob/master/lib/contentful_model/base.rb#L14)):
[code]
This turns the call into `office.fields[:postalCode]` and returns `ContentfulModel::AttributeNotFoundError: no attribute postal_code found`.

The

[2016-06-08 11:10] vivekmalikymca opened #27 "How to get locale entries ?"
how can we get locale specific entries ? when we are saying **foo.all.load** - Will it fetch for default locale or all ?

[2016-06-08 13:16] dlitvakb commented on #27
Hey @vivekmalikymca,

Currently it will only search for `default_locale`, but I can adding multi-locale searching as well.

I'll add it to our roadmap and address it as soon as I can.

In the meantime, you can add it yourself by doing:

[code]

Hope this helps

[2016-07-15 00:16] skierkowski commented on #9
I just came across this same issue. My quick work-around was just to implement `to_hash` on the models, so when I call `to_json()` or `as_json()` it uses those hashes for serialization and avoids this error.

[2016-07-15 01:09] dlitvakb commented on #9
Hey @skierkowski,

Could you explain what you did to solve this issue?

Also, when serialising do you want the original Raw representation of the entry or the internal representation by the gem?

For Raw representation, the entries already provide a method `#raw` which returns the hash from which the entry object was created.

[2016-07-20 20:23] ericgross opened #29 "Cache busting"
I need to bust the cache when the data in Contentful is changed, I suppose via a webhook.

How can I tell my models to throw away the cache (perhaps for only for certain content) and go back to the API?

[2016-07-21 00:42] dlitvakb commented on #29
Hey @ericgross,

I assume you're using contentful/contentful_rails along with this gem.

If that's the case, then you should be able to do: `YourModel.clear_cache_for(your_entry.cache_key)`

Hope that helps

[2016-07-21 20:05] ericgross commented on #29
I am not using contentful_rails - it doesn't look like a gem I want to import. I'd like to do this without the contentful_rails gem.

[2016-07-21 20:08] ericgross opened #30 "Unable to use a nested class"
I am trying to use `Product::Content` as my Contentful model class, but when I try to do so, I get this:

`NameError: wrong constant name Product::Content from /Users/eric/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/contentful_model-0.1.7.1/lib/contentful_model/base.rb:87:in 'const_get'
`

It looks like the issue is the `to_sym` on that line, see the following where the version without it works

[2016-07-21 20:37] dlitvakb commented on #29
Hey @ericgross,

Without using `contentful_rails`, this gem does not have any caching by itself, `contentful_rails` is a package that works on top of this one, which one of it's features is adding Caching to `ContentfulModel::Base` models

Hope that helps

[2016-07-21 20:40] dlitvakb commented on #30
Hey @ericgross,

Not sure what your issue is or how it relates to this gem.

Also, it looks like it is working in your second attempt

[2016-07-21 20:40] dlitvakb commented on #30
Hey @ericgross,

Not sure what your issue is or how it relates to this gem.

Also, it looks like it is working in your second attempt

[2016-07-22 11:06] ericgross commented on #30
The issue is I want to make a model on my side `Product::Content` rather than just `Product`, and when I attempt to do that, I get the error above. I have monkey patched it so that I can do this, but I wanted others to be able to do the same since it seems totally reasonable to have this intention.

[2016-07-22 12:33] dlitvakb commented on #30
Can you explain what the issue was and how you solved it?

I don't really understand what the problem is with your first comment. There is nothing in the gem altering the behaviour of `Object.const_get`, and this is a Ruby internal.

[2016-07-22 17:34] ericgross commented on #30
The issue is that `contentful_model` is not working when I try to use it with a model that is in a namespace.

I solved it by subclassing `ContentfulModel::Base` as follows and inheriting from my subclass instead:

[code]

[2016-07-22 17:43] ericgross commented on #29
Thanks - my caching was happening because of partial caching, not at this layer.

[2016-07-22 17:43] #29 closed

[2016-07-22 18:47] dlitvakb commented on #30
Hey @ericgross,

I'm not being able to reproduce your issue:

[1] pry(main)> require 'contentful_model'
=> true
[2] pry(main)> module Foo
[2] pry(main)*   class Bar < ContentfulModel::Base
[2] pry(main)*     puts self.to_s.constantize
[2] pry(main)*   end
[2] pry(main)* end
Foo::Bar
=> nil
[3] pry(main)> Object.const_get("Foo::Bar")
=> Foo::Bar

[2016-07-22 18:55] ericgross commented on #30
I suspect it will fail if you switch Foo from being a module to being a class.

[2016-07-23 00:30] dlitvakb commented on #30
Doesn't fail either

[code]

Maybe another dependency you have that might be messing with your ruby internals?

[2016-07-23 15:30] ericgross commented on #30
Try doing a find_by on the model, that should fail.

On Fri, Jul 22, 2016 at 8:30 PM, David Litvak Bruno <
notifications@github.com> wrote:

[2016-07-23 16:32] dlitvakb commented on #30
I still can't seem to find the issue

[code]

[2016-07-23 17:19] dlitvakb commented on #30
Hey, however while testing this, I found a separate issue, which is what you might be finding

https://github.com/contentful/contentful_model/pull/31

[2016-07-23 17:20] dlitvakb commented on #30
Hey, however while testing this, I found a separate issue, which is what you might be finding

https://github.com/contentful/contentful_model/pull/31

[2016-07-28 14:50] Frexuz opened #32 "undefined method for association"
My models

[code]

Console test
[code]

Am I doing something wrong?

[2016-07-28 15:39] dlitvakb commented on #32
Hey @Frexuz,

You need to add a `belongs_to_many` relationship on `Question`, it's explained here: https://github.com/contentful/contentful_model#belongs_to_many

Hope that helps

[2016-07-28 21:24] skierkowski commented on #9
In my code I have a `Category` and `Product` models which are associated (1-m), so I added this to my `Product` model. It's a simplified version of `#raw` which returns the min set needed by the client. I haven't tried using `#raw`, so it might work as well.

[code]

[2016-07-28 22:43] dlitvakb commented on #9
Hey @skierkowski,

Thanks for the explanation!

Closing this issue.

Cheers

[2016-07-28 22:43] #9 closed

[2016-07-29 08:42] Frexuz commented on #32
tried both (just to be sure), as well as changing them to a `has_one :category`
`belongs_to_many :categories, inverse_of: :question`
`belongs_to_many :categories`

same error for all variants
`NoMethodError: undefined method `category=' for #<Contentful::Entry:0x00558aa85f2bb0>`

[2016-07-29 09:04] Frexuz commented on #32
Figured it out. It wasn't a problem with the code or this gem.
The problem was a `Rails.cache.fetch` call.
Apparently that still caches in development mode.

Need this in `development.rb`:
`config.cache_store = :null_store`

[2016-07-29 09:04] #32 closed

[2016-07-29 09:47] Frexuz opened #33 "Releasing new gem version"
Seems that master is ahead of the current gem.
It even has a fix for a specific issue I had (namespacing)

Would be nice to have it on rubygems :)

Update:
I tried getting the gem straight from github/master, but ran into #31 :(

[2016-07-29 11:41] dlitvakb commented on #33
Hey @Frexuz,

#31 is now merged. I will wait on publishing a version onto RubyGems until we have a stable release, there might be bugs from the latests features I've added, and don't want to have people facing them unadvertedly.

Feel free to try using master, any bug report is more than welcome.

Cheers

[2016-07-29 11:56] Frexuz commented on #33
Great :) Thanks for the merge!

[2016-07-29 15:26] Frexuz opened #34 "Ordering associations"
Would it be possible somehow to order a models children? Maybe something similar to:
`Faq.all.order(:name, 'questions.name').load`

[code]

or would I have to do it on the array? `faq.questions.sort_by(&:name).each`

[2016-07-30 19:39] ericgross opened #35 "Logging requests"
How can I wire in a logger to let me know what each request being made is? I tried adding http_logger, but that doesn't seem to work for Contentful requests.

[2016-07-31 09:31] dlitvakb commented on #35
Hey @ericgross,

You can add a logger like follows:

[code]

Hope that helps

Cheers

[2016-08-03 15:35] dlitvakb commented on #34
Hey @Frexuz,

Currently the only way of fetching them in a sorted manner is by doing it on the array.

It could be a good idea to add more options in the future for allowing the related resources to be already sorted and maybe add filtering as well.

Currently that involves a lot of work and is a very low priority. But since you are already asking for it, it's definitely worth consideration.

Than

[2016-08-03 17:00] Frexuz commented on #34
I thought so :)

[2016-08-11 16:36] toadle opened #36 "Creating objects via Management API with many-references not working"
Hey guys,

we are trying to populate an initial content-set via `contentful_model`.
Now we have classes like this:

[code]

Now creating a person like so `ContentfulPerson.create(name: 'some_name')` is working.
But what is now working is something like this:

[code]

Gives me
[code]

But I also tried
[code]

Is this supposed to work already?

Sidenote: I did this successfully with just using class

[2016-08-12 15:46] toadle commented on #36
I investigated this further. The Validation-problem that occurs is this one:

[code]

Seems like the API does not accept the creation of Links via the API in the format that is currently send. How is it supposed to be send? There isn't any documentation online.

[2016-08-12 18:24] dlitvakb commented on #36
Hey @toadle,

Looks like I totally overlooked this case, I forgot linked entries somehow 😅

I might be able to have a simple fix early next week.

Would that be ok for you?

Cheers

[2016-08-15 07:29] toadle commented on #36
@dlitvakb Thanks for getting back!
A quick fix would be really great.

Also I have to revise my previous statement. I tried to replicate this with just using `contentful.rb` and `content-management.rb`.

Some time ago doing this:

[code]

in a `Contentful::Entry` worked. I added other `Contentful::Entry`s as properties there.

Sadly now it does not anymore.

Did the API change?

[2016-08-15 10:45] toadle commented on #36
No, it did not. #selfanswer :-)

@dlitvakb But should be fixed by this: https://github.com/contentful/contentful-management.rb/pull/105

[2016-08-15 12:40] dlitvakb commented on #36
Hey @toadle,

Sounds good! Just made a few comments on that PR.

Cheers

[2016-08-17 11:00] #36 closed

[2016-08-17 11:05] dlitvakb commented on #35
Hey @ericgross,

Hope this response has solved your problem, as I saw no response in over 2 weeks, I'm closing the issue.

Cheers

[2016-08-17 11:05] #35 closed

[2016-08-17 11:07] dlitvakb commented on #30
Hey @ericgross,

The issue mentioned above has been fixed. Still unrelated to your problem which I hope you already managed to fix.

As I've seen no response to this issue in almost a month, I will proceed to close it.

Cheers

[2016-08-17 11:07] #30 closed

[2016-08-17 11:07] dlitvakb commented on #34
Hey @Frexuz,

Adding sorting and filtering options has been added to our backlog, we'll be tackling this issue in the few months to come.

I'll mark this as closed.

Cheers

[2016-08-17 11:07] #34 closed

[2016-08-17 11:10] dlitvakb commented on #33
Hey @Frexuz,

I've just merged a new https://github.com/contentful/contentful-management.rb which includes some more serialization options for dealing with creating entries with relationships using this gem.

I'll wait for some usage feedback before releasing, but we're close to a new release.

Cheers

[2016-08-17 11:12] dlitvakb commented on #1
This has been solved by changing the Client to use dynamic entry resolution, which already solves any nested entries.

[2016-08-17 11:12] #1 closed

[2016-08-17 11:21] #23 closed

[2016-08-17 11:21] dlitvakb commented on #22
Hey @deanfields,

Could you provide some code to reproduce this issue?

Cheers

[2016-09-13 14:13] #27 closed

[2016-09-14 14:19] goalaleo opened #40 "Associations not working"
Here are the classes:
[code]

trying to use associations just returns `nil`for `has_one`, and an empty array for `has_many`:

[code]
They don't throw `ContentfulModel::AttributeNotFoundError`, so the attribute exists is, but nothing gets returned. Any advice?

[2016-09-14 14:32] goalaleo commented on #40
I got the associations to work, but the solution doesn't make any sense to me.
It was to remove the `has_one :author`association from the `BlogPost` class.
Can you come up with a reason why the existence of the association would screw things up?

[2016-09-15 13:21] dlitvakb commented on #40
Hey @goalaleo,

I'll be looking into it

Cheers

[2016-10-05 19:04] pmoore commented on #40
@dlitvakb @goalaleo I think I'm running into the same issues now, and think it may be from the commit here: https://github.com/contentful/contentful_model/commit/35053665a74e7d8512d2ecdad3fee7839d6b07ac#diff-4a8a1bd3b58710c02288eee36bb77fdbR10

Looks like the initializer is now calling `defined_getters` for all the fields that are returned, which override the methods defined by the `has_many`, `ha

[2016-10-05 21:31] dlitvakb commented on #40
Hey @pmoore,

Looks like a possible cause.

I'll investigate more on it and how to avoid creating a generic getter for association methods.

Thanks for the input.

[2016-10-06 02:46] pmoore commented on #40
not pretty, but as a workaround i'm overriding the `define_getters` method to not actually do anything and everything else still seems to work...so far

[code]

[2016-10-12 14:47] clowder opened #44 "We should be calling super in our method_missing implementation"
By halting the method lookup early we are opening ourselves up to some funny bugs later down the road.

It would be nice to remove `[AttributeNotFoundError]` and replace it with a call to `super`, maintaining Ruby's default method lookup mechanics. Then use either `#respond_to?` or a `has_field?` for checking if models have particular fields, in place of the raise/catch combo we have now.

[2016-10-13 17:17] pmoore opened #45 "The .order() method does not accept sys properties"
According to [Contentful Delivery API docs](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/order) we can sort by sys properties as well as field names:

[code]

The current `.order()` method only implements the `order` query hash with "fields".  As a workaround, we're currently the `params(order: '-sys.updatedAt')` to get us where we need t

[2016-10-20 09:43] goalaleo opened #46 "return_nil_for_empty not working"
Hi,

In another project this feature worked for me, but now it seems to be doing nothing:

[code]

The class:

[code]

Any ideas on why this doesn't work? I guess I could use `cm.fields.has_key?(:hintText)` as a
workaround, but I'd still like to figure out why it's not working

[2016-11-10 20:37] dlitvakb commented on #45
This has been merged

Cheers

PS: Sorry it took a bit long!

[2016-11-10 20:37] #45 closed

[2016-11-21 14:50] clowder opened #48 "`all` only returns the first 100 records"
Seems that by default `all` only returns the first 100 records. Options would be:

1. Document the implicit limit
2. Remove the limit and just return everything in one go
3. Add pagination to the API

Thoughts?

----

To get around the issue I re-implemented an all with an arbitrarily massive number...

[code]

[2016-11-21 14:58] dlitvakb commented on #48
Hey @clowder,

The API allows up to a `limit: 1000`.

To fetch everything, the gem provides the methods, `#limit` and `#skip` to fetch any amount you need.

Just make sure that if you are skipping records, to always use it in conjunction with an ordering attribute like `sys.updatedAt`, in the gem can be called as `Model.order('updatedAt').limit(1000).skip(1000)`.

Hope that helps,

Cheers

[2016-11-21 15:00] clowder commented on #48
@dlitvakb Great! Thanks for the quick reply.

[2016-11-22 17:34] danbee commented on #46
@goalaleo Have you tried restarting your dev server? That fixed it for me.

[2016-11-23 07:47] goalaleo commented on #46
@danbee Ah, that might have been it. I'll have to try that - thanks for the tip!
It might also be related to version `0.1.7` which was also causing a problem that
was fixed in `0.2.0`

[2016-12-05 11:04] #46 closed

[2016-12-05 11:16] goalaleo opened #49 "find_by not working with multiple fields, only uses the field that was defined first"
Relating to this line in README.md:
`Foo.find_by(someField: [searchquery1, searchquery2], someOtherField: "bar").load`

Querying against multiple fields only uses the field that was defined first:
[code]
Above it's returning all meals for day 2, when ir should only return gluten free meals.
Workaround is to chain the `find_by` queries, which isn't as pretty, but works:
[code]
Using `contentful_mod

[2016-12-05 22:13] jackc opened #50 "coerce_field appears not to work"
Coerced fields are only handled in `method_missing`. But the `define_getters` call in `initialize` ensures that `method_missing` doesn't get called for normal fields. Also, since `define_getters` defines singleton methods, we are unable to define reader methods on a model that performs the coercion manually.

[2016-12-06 08:14] Frexuz opened #51 "Can't sort by publishedAt - others work"
[code]

Any idea?

**Json preview in Contentful:**
![screenshot](https://cloud.githubusercontent.com/assets/49692/20917854/da2d4ca2-bbce-11e6-9510-6a1d1e61b9c7.png)

**Update:**
Seems that key isn't included in `Contentful::Resource::SystemProperties:: SYS_COERCIONS`. What to do?

[2016-12-06 11:18] clowder commented on #51
I hit this today too.

I actually extended

[2016-12-06 11:21] clowder commented on #51
I hit this today too.

I actually [extended](https://github.com/stowbotics/contentful.rb/tree/published-at) `SYS_COERCIONS` to include the published timestamps, and got another error that indicates that the API doesn't allow ordering by published:

I couldn't find anything in the API docs that lays out what fields you can/cannot sort by. Would be great to get some clarification.

[2016-12-06 11:37] clowder commented on #51
Seems that the set of system things you can order by is bounded to the ["common resource attributes"](https://www.contentful.com/developers/docs/references/content-delivery-api/#/introduction/common-resource-attributes).

FYI, my use case here was the company blog.

[2016-12-06 12:32] dlitvakb commented on #51
Hey @clowder and @Frexuz,

What @clowder says seems to be the reason, I'll ask the platform team if this is the case.

I'll get back to you shortly on this.

Cheers

[2016-12-07 12:43] dlitvakb commented on #51
After talking with the lead developer of our platform team I got this issue clarified.

`sys.publishedAt` is only available for searching on the CMA, and exclusively for already published entries.

This integration only does search over CDA, so the property is unavailable to be searched.

Does that make sense?

[2016-12-08 12:08] clowder commented on #51
Makes sense, might be a nice one to add to the CDA. For now we have added our own `publishedAt` field.

[2016-12-08 18:55] dlitvakb commented on #51
Hey @clowder,

`sys.updatedAt` should match the latest published value, as anything present in the CDA is published, the last update is the last published version of the entry.

Cheers

PS: Closing the issue, we can continue discussing about it though.

[2016-12-08 18:55] #51 closed

[2016-12-12 13:26] dlitvakb commented on #50
Should be solved by #52

Closing

[2016-12-12 13:26] #50 closed

[2016-12-12 18:56] georgebrock opened #53 "Associations returning instances of the wrong class"
## The setup

I've tested this against contentful_model v 0.1.7.1 and against master (a747f541541510a470c6f8741e20890b79a52380 at the time of writing).

I have two models:

[code]

## The problem

When I try to get a `Requirement`'s `Category`, the returned object is a `Contentful::Entry` (in v0.1.7.1) or a `Contentful::DynamicEntry` (in master) instead of a `Category`:

[code]

Under 0.1.7.1, I c

[2016-12-12 20:24] georgebrock commented on #53
It was pointed out by my colleagues that using `class_name: Category` to load the category model was a bit convoluted when I could just use a `require`. In the end, I went with this:

[code]

[2016-12-12 21:59] pmoore opened #54 ""fields" not getting set correctly? New getters return instance of `Contentful::Link` when reference is missing or empty"
So I understand that Contentful's association schema will not go back and remove existing associations to an entry when that entry is removed.  For example, if I have a Post entry that references a Category and I later go and delete the category entry from Contentful then my Post entry will still have a "Link" to the dead category ID.

That's fine for us, for now.  However, these gems (I believe)

[2016-12-14 15:40] pmoore commented on #54
I guess I'm a little confused of the need for those `define_getter` methods.  Looks like that defines singleton methods for each of the fields that's returned from the API, but that seems to go against the purpose of `method_missing` in base.rb, which seems to filter out those Contentful::Link types appropriately.

[2017-01-17 22:36] dlitvakb commented on #54
Hey @pmoore,

You're correct, I overlooked the relationships unintentionally and caused this to happen.

We're about to release the 2.0.0 version of the Contentful SDK (it is currently going through the last round of code review), which will change the base Contentful::Entry to a more simplified (and better working) object, after that is done, I will re-write a big part of this library to take adv

[2017-01-17 22:40] dlitvakb commented on #54
One question, regarding `Link` objects. There are 2 instances in which this can happen:

* Include level doesn't reach up to that level of nested objects
* Entry/Asset was deleted but Reference is still there

There currently is no way to figure which one of these cases is happening without issuing an extra request.

What would you prefer to happen:

* Issue an extra request to try to solve the li

[2017-01-17 22:46] dlitvakb commented on #53
Hey @georgebrock,

If you're using `contentful_rails` there's an optional eager loading mechanism in place that does this for you, if you're using `contentful_model` by itself, the eager loading has to be handled manually.

I will look into ways of having eager loading separate from the `Rails::Engine` implemented in `contentful_rails` and have it as part of `contentful_model` so that users of onl

[2017-01-17 22:49] dlitvakb commented on #49
Hey @goalaleo,

This looks like a bug,

I'll look into it.

Cheers

[2017-01-24 04:34] pmoore commented on #54
Hey @dlitvakb, I think it makes sense to avoid making those API calls since and let the client be responsible for loading the necessary levels of nested children.  So I guess returning nil would be the best option?

On that note, do you know if there is any plan to have the Contentful API/backend handle the case of removing references when an entry/asset is deleted?  I think you guys are working w

[2017-01-24 12:46] dlitvakb commented on #54
Hey @pmoore,

Back-references are a planned feature, I'm not entirely sure how is it going to be implemented, but I think it would solve this issue.

Cheers

[2017-01-24 15:51] pmoore commented on #54
Awesome, looking forward to that.  In that case, I definitely would think returning `nil` for this scenario makes sense.

Looking forward to 2.0 !

[2017-02-08 23:44] sebbean commented on #3
yes plz!

[2017-02-08 23:53] sebbean commented on #3
btw @edtjones you can call `.client.asset(id)` on the model i just found out

[2017-02-23 10:13] aldreth opened #59 "Testing classes that inherit from ContentfulModel::Base"
I've got some classes that inherit from `ContentfulModel::Base` & I've added some methods to them, which I'd like to test in model unit tests.

For example, I'd like to test `html_class` & `target` in this `Button` class:

[code]

I can do this like this:

[code]

My question is - is there a better way to instantiate these `Button` instances?

[2017-03-13 20:44] pmoore opened #62 "Presence Validator Broken for Declared fields?"
It looks like the `validates_presence_of :field_name` validator isn't working for fields that were declared in has_one, has_many, or return_nil_for_empty.  Digging into it, I think this is because the validator does a `respond_to?(:field_name)`, which evaluates to true in these cases.

I have a PR to update that validator and also call `.present?`:
https://github.com/contentful/contentful_model/pu

[2017-03-21 11:54] dlitvakb commented on #62
This has been merged!

Cheers

[2017-03-21 11:54] #62 closed

[2017-03-22 06:14] coleturner opened #63 "Cannot attach a contentful model as a polymorphic object for another belongs_to"
Let's say I have this example model:

[code]

And I want to attach a contentful model as `object`.

[code]

In order to facilitate this and allow for saving, I had to add the following methods to my *Article* class:

[code]

Unfortunately, this will save but it will not allow me to access `Activity.object` as it complains about the lack of `arel_table`

I am wondering if there is anything in the p

[2017-03-30 07:20] Frexuz opened #64 "uninitialized constant Contentful::DynamicEntry"
When booting the app

[code]

rails 5.0.2
contentful 2.0.0
contentful_model 0.2.0 (git master)

updated from contentful 0.12.0, so adding `gem 'contentful', '0.12.0'` works fine

[2017-04-04 14:10] plexus commented on #64
Seems DynamicEntry is gone in the 2.0.0 version of contentful.rb, so contentful_model will need to be updated.

Would be good if someone from Contentful could comment on this. /ping @dlitvakb

[2017-04-04 14:19] dlitvakb commented on #64
Hey @plexus and @Frexuz,

This is planned to be updated, we're gradually updating all gems depending on the CDA SDK to use 2.0.0

Cheers

[2017-04-04 19:13] georgebrock opened #65 "ContentfulModel::Base doesn't provide a #hash method"
`ContentfulModel::Base` doesn't provide a `#hash` method, so model instances cannot be effectively used as keys in Hashes, or easily filtered for duplicates.

For example, I have a `Requirement` model which `has_one` `Category`. After loading my requirements, I group them by category:

[code]

For the results of a single query, this works fine. However, sometimes I want to combine the results of t

[2017-04-10 20:27] ludwick opened #66 "Content type caching in upcoming version?"
There doesn't seem to be any way to get at the underlying HTTP client to add caching to it (or swap out with a different HTTP client). But I noticed that the library is not caching content type definitions, so if you have some model method that uses the content type to do something with your data (example, though not our pattern: get the full set of available fields, for example, which might not b

[2017-04-22 09:40] plexus opened #67 "Queries return ::Array instead of Contentful::Array"
In the code of `Contentful::Query`

[code]

This is problematic because it loses the metadata of the collection size. A dev on the project I work on wrote this just to get the count of articles

[code]

Which ended up doing a ~22s query on every page load. I ended up hacking up a custom solution like this:

[code]

It might be nice to add a `count` class method to models by default.

[2017-05-10 17:26] dlitvakb commented on #65
Hey @georgebrock,

Thanks for the suggestion, I'm currently implementing the upgrade to the 2.0 CDA SDK and implemented a similar solution to this.

The release will be coming up in the next few weeks, with the initial PR coming out tomorrow.

Cheers

[2017-05-10 17:28] dlitvakb commented on #67
Hey @plexus,

Thanks for the suggestion, I'm currently working on the upgrade to the 2.0 CDA SDK and I've already implemented this.

A release will be coming up in the next few weeks (most likely next week), with the initial PR coming out tomorrow.

Cheers

[2017-05-10 17:29] dlitvakb commented on #64
Hey @plexus and @Frexuz,

The initial PR for the 2.0 upgrade is coming out tomorrow and a formal release within the next few weeks after the review process is finished.

Cheers

[2017-05-10 17:31] dlitvakb commented on #66
Hey @ludwick,

As you said this is already taken care of in the 2.0 upgrade. Which I'm currently doing right now.

The initial PR with the upgrade will be coming out tomorrow, and the official release will be within the next few weeks after the review process is finished.

Cheers

[2017-05-10 17:43] dlitvakb commented on #59
Hey @aldreth,

I'd go for something like using `vcr` to record a fetch of an actual object, and then use that as your mock object. If you're not interested in doing that, you can do something similar to your current setup and should work.

Cheers

[2017-05-10 20:40] #59 closed

[2017-06-19 13:05] #48 closed

[2017-06-19 13:25] dlitvakb commented on #53
After re-writing most of  the library, I've changed my mind and think that the eager-loading mechanism belongs into the Rails::Engine as it's part of the Rails configuration pattern, while this gem can be integrated with applications that do not use Rails as their framework and would be overstepping it's boundaries.

The 2 above-mentioned methods (using `class_name: MyEntryKind` or requiring the f

[2017-06-19 13:25] #53 closed

[2017-06-19 13:27] #14 closed

[2017-07-07 19:03] #66 closed

[2017-07-07 19:03] #67 closed

[2017-07-07 19:03] #33 closed

[2017-07-07 19:03] #44 closed

[2017-07-07 19:03] #54 closed

[2017-07-07 19:03] #64 closed

[2017-07-07 19:03] #65 closed

[2017-07-07 19:34] ludwick commented on #66
Yes!!! Thank you. I'll be checking this out.

[2017-07-07 20:08] dlitvakb commented on #66
Hey @ludwick,

This has not been released yet, but you can use the `master` branch which includes the full rewrite and upgrade.

I'm going on vacations for the next month, but I'll pick the remaining issues to be fixed before the next release as soon as I'm back. And make a release as soon as I can.

Cheers

[2017-08-02 08:32] chriso0710 opened #71 "Problems with find_by"
Hi there,

I am trying to find a model entry with find_by.
Here is an example:

[code]

This outputs and throws an error:

[code]

What am I missing? I am using preview api mode.

Christian

[2017-08-04 00:12] dlitvakb commented on #71
Hey @chriso0710,

Which version of the gem are you using?

Cheers

[2017-08-04 08:33] chriso0710 commented on #71
I am using the latest 0.2.0, from the github master branch.

Additionally:

contentful (2.1.1)
contentful-management (1.8.1)
jekyll-contentful-data-import (1.6.0)

[2017-08-10 13:13] mimmo opened #73 "RuntimeError (implicit argument passing of super from method defined by define_method() is not supported. Specify all arguments explicitly.)"
The error happens in this line
https://github.com/contentful/contentful_model/blob/68f0c8a0379bd983e485fbdff738e37b93ae32a8/lib/contentful_model/base.rb#L124

On my Contentful Entry _Page_ I have a field _parent_ . The home page has the parent field not set.
To manage the Exception i added this line
```return_nil_for_empty :parent```

With or without that line i get the RuntimeError
```RuntimeErro

[2017-08-14 14:26] goalaleo opened #74 "Possibility to define methods to a class inheriting ContentfulModel::Base"
**This is an improvement request**

Hi,

I'm not sure if this is already possible, and I'm just not getting it, but it would be nice if I could define instance methods for a class that inherits `ContentfulModel::Base`.

Example:
[code]
usage:
[code]

[2017-08-16 16:24] nzkwgo opened #75 "Can't define setters or getters for objects with 'id' as a field"
Attempting calls on contentful objects with 'id' as a field cause a "NoMethodError: undefined method 'keys' for [id name]:String" due to define_setters, define_getters, and override_getters using the objects id as a reserved keyword

[2017-08-16 18:39] #75 closed

[2017-08-16 18:40] nzkwgo commented on #75
Only a problem in v.0.2.0

[2017-08-22 19:12] jpowell commented on #40
Could this be a product of not having the correct `load_depth` specified for your model?

[2017-08-28 21:26] dlitvakb commented on #74
Hey @goalaleo,

This is completely doable with the current status of the gem.

Cheers

[2017-08-28 21:42] dlitvakb commented on #71
Hey @chriso0710,

Just understood your error.

`::find_by` returns an array of entries, therefore you're missing either calling `#first` or `#each` on the array.

Cheers

[2017-08-28 21:45] dlitvakb commented on #73
Hey @mimmo,

Thanks for the report, will add that change prior to next release.

Cheers

[2017-08-28 21:48] dlitvakb commented on #63
Hey @colepatrickturner,

This sounds like an awesome idea for a new feature.

Would you be interested in working with me on implementing it?

Cheers

[2017-08-28 22:19] colepatrickturner commented on #63
Hey!

I'm interested in any way I can, but months have gone by and I do not recall the issue regarding the lack of `arel_table`

The best educated guess I can give is that when Rails is selecting the association `*.object` it uses the relational table to lookup the entity, wherein this will need to be overridden so that it can be patched into a ContentfulModel.

[2017-08-28 22:22] dlitvakb commented on #63
No problem.

Thanks for the help, if I have any issues when implementing it I'll try to reach out to you for input.

There is no ETA for this to be added, but it's already in our backlog to tackle within the next few months.

Cheers

[2017-08-29 10:11] goalaleo commented on #74
@dlitvakb Could you elaborate on how one could do it? I tried this is an existing project, but am still getting `ContentfulModel::AttributeNotFoundError`:

[code]

[2017-09-06 19:08] niedfelj opened #76 "stack too deep issue updating a model with a linked field"
I'm running into a strange issue where saving an object with a linked field is generating a stack too deep issue. I've created a demo app here that you can use to test/debug:

https://github.com/niedfelj/contentful_model_bug

It seems to get stuck in the as_json call of a model class, recursively calling as_json on the class over and over because when it calls instance_values on a class, another r

[2017-09-07 11:42] dlitvakb commented on #76
Hey @niedfelj,

This is a known issue with the 0.x and 1.x versions of the CDA SDK. I'm working on the 1.0 release of this gem which uses the 2.x version of the CDA SDK, which has this fixed and is configurable for how deep you want nesting resolutions.

I don't have an ETA for when this will be finally released, but most likely within the next 2 months.

In the meantime, feel free to use `master`

[2017-09-07 15:12] niedfelj commented on #76
Hi David, Are you sure this is the same issue? I don't really have cyclical relationships in my data, so it feels like it's something else?

[2017-09-07 15:34] dlitvakb commented on #76
Oh, I understood the issue incorrectly then.

Can you please let me know if you add the code indicated here in an initializer if the issue is fixed?
https://github.com/contentful/contentful-management.rb/issues/87 for the management gem and the following equivalent snippet for the delivery gem:

[code]

Please let me know if that solves your issue, so that I can update this gem accordingly.

Cheer

[2017-09-07 16:24] niedfelj commented on #76
On first try, that doesn't seem to resolve the issue either. I will see if I can get a 2.x version of CDA working later today and let you know?

[2017-09-07 16:25] niedfelj commented on #76
Did you have a chance to look at my demo of the bug?

[2017-09-07 19:06] niedfelj opened #77 "pagination/filtering issue on belongs_to_many > 100"
It seems like the methods for retrieving associated items on belongs_to_many queries the API for the content_type and returns ALL items and then filters by the ID of the parent object. This will appear to work in a lot of cases (if there are less than 100 items). However, we have about 300 articles and then 8 sections with a belongs_to_many articles. If we have a specific section and then call sec

[2017-09-07 19:10] dlitvakb commented on #76
Hey @niedfelj,

I haven't had the time today yet. But either tomorrow or Monday, I'll definitely take a look into it.

I pointed you towards that issue on the CMA SDK, because I had at least something similar happen (by the looks of my issue description and yours) and that was the way I got it solved.

As soon as I find a way to solve it, I'll let you know.

Cheers

[2017-09-11 14:14] vasilakisfil opened #78 "Does not resolve locales correctly."
It actually raises an error. `NoMethodError: undefined method keys for "english":String`.

Here is what I had to apply in order to support it (similar code should be added for setters as well)

[code]

My guess is that contentful.rb library altered the `fields` method and moved the locales over to `fields_with_locales` method so it broke this lib.

[2017-09-11 14:25] dlitvakb commented on #78
Hey @vasilakisfil,

There are 2 ways you can do this in order to avoid reimplementing the methods.

[code]

Alternatively,

[code]

Whichever you feel is best, should work.

If you just want your default locale to be used, and your default locale is different than `en-US`, then make sure that you configure the library with the proper default locale, this way it will make all the shortcut methods w

[2017-09-11 14:33] vasilakisfil commented on #78
@dlitvakb ah ok I see.

However, when I try to retrieve all the locals I get the exception above I mentioned:

[code]

Shouldn't that work out of the box ?

[2017-09-11 14:39] vasilakisfil commented on #78
I fixed it now by simplifying my :monkey: patch and use an OpenStruct with the fields for the locale I need, as you showed me.

[code]

[2017-09-15 09:03] dlitvakb commented on #74
Hey @goalaleo,

I've tried this myself on a fresh Rails installation and it's working.

*Gemfile:*

[code]

*config/initializers/contentful.rb:*
[code]

*app/models/product.rb:*
[code]

*Test results:*
[code]

Hope this helps,

Cheers

[2017-09-15 09:32] dlitvakb commented on #76
Hey @niedfelj,

Found what I think the issue is.

It looks like the `has_one` relationship is not properly defining setter methods.

This ends up making setting the `section` or `author` field in your articles not work by using the shortcut `section=` or `author=` methods.

I found it possible to go through this issue by using the internal `#to_management` method and creating the link hash manuall

[2017-10-10 10:47] chriso0710 commented on #71
Thank you for your answer and sorry for taking so long to respond.

You are right, of course. My mistake for not expecting/checking the (obvious) Contentful::Array class.

Thanks again
Christian

[2017-10-10 11:35] #71 closed

[2017-10-30 18:04] arielkirkwood commented on #49
@dlitvakb Any timeline for this getting a fix?

[2017-10-30 19:33] dlitvakb commented on #49
Hey @arielkirkwood,

`contentful_model` work has taken a back seat for a while, but I should get back to finishing work on the 2.0 version next month (November), having a 2.0 release ready and released by December.

The fix for this issue should be expected alongside the 2.0 release.

Sorry for the super long wait on this, there's too many things going on on the Contentful world right now, and we'

[2017-11-14 16:05] nomasprime opened #80 "Content type IDs"
When I create a content type with migrations the ID is a hash but if I do it in the web client the ID is the name in lowercase.

Problem with the hash is I then have to look this up in the web client to put in the model and if run on another machine it will change again, i.e., not redeployable.

Is there a way to set the content type ID in the migration?

What's the best practice?

[2017-11-15 11:47] nomasprime opened #81 "Using migrations to set options"
Can I set things like locale and validations, like required field, through migrations?

[2017-11-15 12:06] dlitvakb commented on #81
Hey @nomasprime ,

You can do something like:

[code]

Same would go for validations, anything that you can do with a `Contentful::Management::Field` you can do with the field returned from the builder.

This way you can manipulate some extra options for the fields, that the other simplified syntax does not allow for. The downside, is that it's a lot more verbose.

Hope this helps,

Cheers

[2017-11-15 12:20] nomasprime commented on #81
Hi @dlitvakb, it does, thanks.

Presumably I'd have to use `Contentful::Management::Validation` directly in the migration as this isn't part of `Contentful::Model` yet?

Don't suppose you have an example of validation, specifically `:linkContentType`?

[2017-11-15 15:22] nomasprime commented on #81
This worked, the rough cut:
[code]

[2017-11-15 15:37] dlitvakb commented on #81
No problem!

Glad it worked!

Closing this issue.

[2017-11-15 15:37] #81 closed

[2017-11-16 13:25] nomasprime commented on #80
@dlitvakb any suggestions?

[2017-11-16 13:53] dlitvakb commented on #80
Hey @nomasprime,

It's a bit hacky, but you can do it the following way:

[code]

I'll add to my backlog a task to polish this and be able to set the ID without having to manually fetch the underlying management object, this will be included in the 1.0.0 release that's planned. And will soon be available in `master` while I'm working on the remaining tasks before the 1.0.0 release.

Let me know if

[2017-11-17 10:37] nomasprime commented on #80
Thanks @dlitvakb, that would be great.

I tried your suggestion, I get `undefined method 'id=' for nil:NilClass`.

[2017-11-17 11:48] nomasprime commented on #80
Throwing a `content_type.save` in line 2 populates `@management_content_type` and the migration runs successfully. Suspect this might hit the API twice though, need to dig deeper into the code.

[2017-11-17 12:09] dlitvakb commented on #80
Yeah, it looks that a change is required in order to make it work,

I'll have this on a PR today before EOD, and merged between today and Monday.

Then you can use `master` on your gemfile.

Cheers

[2017-11-17 12:14] nomasprime commented on #80
Legend! Very much appreciated @dlitvakb 🙌

[2017-11-17 13:53] #80 closed

[2017-11-17 13:55] dlitvakb commented on #80
This has just been merged.

You can now use the latest `master` version to make use of this feature.

Now by default it will have the `camelCased` version of the name you set. If you want a different ID, you can set it by doing:

[code]

[2017-11-20 14:05] nomasprime opened #84 "Problem with validations on entry_array"
Running this migration:

[code]

and then:

[code]

results in:

[code]

Works if you change `entry_array` to `entry_link`.

[2017-11-20 14:08] nomasprime commented on #84
@dlitvakb any suggestions would be much appreciated. I'll try and debug in the meantime.

[2017-11-20 14:14] nomasprime commented on #84
Turns out with `:asset_array` and `:entry_array` you have to reference `items`:

[code]

[2017-11-20 14:14] #84 closed

[2017-12-01 12:33] nomasprime opened #85 "Getting Contentful::Link rather than Contentful::Entry for nested objects"
My migrations:
[code]
In a console:
[code]
If I try and access a property, I get:
[code]
When I try and access Jumbotron it works as expected, not sure what the difference is. Any ideas?

[2017-12-01 13:10] nomasprime commented on #85
@dlitvakb I'm really stuck with this. Do you see anything?

[2017-12-01 13:22] nomasprime commented on #85
After deleting and creating the `CallbackForm` content it's now coming back with `nil`.

[2017-12-01 13:27] nomasprime commented on #85
Maybe linked to https://github.com/contentful/contentful_model/issues/40

[2017-12-01 13:31] nomasprime commented on #40
@jpowell what is `load_depth`? Searching repo doesn't reveal anything.

[2017-12-01 15:45] jpowell commented on #40
@nomasprime good call. That's an alias for `load_children` I've defined in a mixin supporting some defaults for models. Updated comment above. Thanks!

[2017-12-01 15:52] nomasprime commented on #40
Thanks @jpowell. This solves my immediate problem.

Would have thought this could have been done dynamically though unless I'm missing something, i.e., why can't `model.model.model` automatically set `load_children` to `2`?

[2017-12-01 15:53] nomasprime commented on #85
Setting `load_children` as suggested in the other issue solves my problem. Is there a reason this couldn't be done dynamically?

[2017-12-01 16:02] jpowell commented on #40
The implementation is not a lazy evaluation, like an `ActiveRecord::Relation`, per say, but the call is being evaluated immediately... they don't load dependencies / children by default because of how expensive it could be, but provide you the back door so you can shoot yourself in the foot if you want ;)

From what I can tell, defining associations really does nothing. You don't have to define th

[2017-12-01 16:03] dlitvakb commented on #40
Hey @jpowell,

The API by default has `include: 1`, which is equivalent to `load_children(1)`, the maximum value is 10.

Cheers

[2017-12-01 16:07] dlitvakb commented on #85
Hey @nomasprime,

This integration, and the underlying SDK, are basically wrapping the API with some sugar.

That said, I could consider adding an internal discovery mechanism for this gem, as if you have your relationships defined in the models, it's relatively easy to know the maximum includes you'll require to fetch beforehand.

I'll add this to my backlog and add it to the list of ToDos before

[2017-12-05 00:34] nomasprime commented on #85
Thanks @dlitvakb 👍

[2017-12-05 17:57] nomasprime opened #87 ":entry_array validations"
Tried all I can think of and cannot get this to work:
[code]
This works:
[code]
But this doesn't:
[code]
Likewise, this works:
[code]
But this doesn't:
[code]
So depends on `.items` on the first line. Not sure why this is or how to combine them to get the validation I want?

[2017-12-05 18:05] nomasprime commented on #87
This works:
[code]
But this doesn't:
[code]
Likewise, this works:
[code]
But this doesn't:
[code]
So depends on `.items` on the first line. Not sure why this is or how to combine them to get the validation I want?

[2017-12-05 18:30] dlitvakb commented on #87
The `items` is there because it's an array validation. That is required only for arrays.

[2017-12-05 19:51] nomasprime commented on #87
Ah, I thought logically that must be the case but when I tried them separately I got the same error.

Just tried again though and it worked so PEBCAK 😄

My code for anyone else that's interested:
[code]

Thanks @dlitvakb

[2017-12-05 19:51] #87 closed

[2017-12-11 11:40] nomasprime opened #88 "Uploads and model association"
Does anyone know how to do uploads and associate them with a model?

[2017-12-11 12:08] dlitvakb commented on #88
Hey @nomasprime,

You need to get instantiate a management client, you can do so by doing:

[code]

Then, you need to follow the instructions here: https://github.com/contentful/contentful-management.rb#file-uploads

Then, you just add the asset to an existing entry containing an asset field.

Cheers

[2017-12-11 12:48] nomasprime commented on #88
Great, was thinking along the same lines but didn't know how to get the management object.

Thanks @dlitvakb 👍

[2017-12-11 13:47] dlitvakb commented on #88
No problem!

Cheers

[2017-12-12 12:18] nomasprime commented on #88
@dlitvakb tried this:
[code]
But returns `nil`.

[2017-12-12 12:53] dlitvakb commented on #88
Hey @nomasprime,

`uploads.create` takes either a `String` or a `File` object, therefore, you need to call `#to_path` on your asset.

[code]

Please let me know if this works,

Cheers

[2017-12-12 15:22] nomasprime commented on #88
Thanks @dlitvakb. Before I tried `to_path`, `to_realpath`, and `to_s`. It didn't work but was all out of ideas so I tried it again and it works.

Wish I could say why but I have absolutely no idea 😄

[2017-12-12 15:40] dlitvakb commented on #88
I've personally never used `Pathname` that much, so I'm not entirely sure how it works, maybe you can try opening the file with the `'rb'` flag, and send the file object (this is supported).

Do you have `raise_errors` set to true on the SDK? The default when using the `::management` method is `true`.

Other than trying that I'm quite uncertain of what could be going on, as the SDK should either r

[2017-12-12 16:03] nomasprime commented on #88
@dlitvakb yep, errors are on.

The thing is I have this test:
[code]
With this code:
[code]
Without WebMock I can get an upload object, with it I get `undefined method `[]' for nil:NilClass` from line 14 of the implementation.

Can you see what I'm doing wrong or maybe there's a better way to test this?

[2017-12-12 16:12] dlitvakb commented on #88
Ahhh, now I understand your issue, you're returning an empty body, when actually an upload response looks something like this:https://github.com/contentful/contentful-management.rb/blob/master/spec/fixtures/vcr_cassettes/upload/create_file.yml#L61RL82

Cheers

[2017-12-13 16:24] jgoyon commented on #77
I also faced the same issue. [This line](https://github.com/contentful/contentful_model/blob/1955dd5d438800f0b5bc3eebdad980f682a7e6d4/lib/contentful_model/associations/belongs_to_many.rb#L59) is responsible for the behaviour.

To reproduce it you need two models, let's say `Category` and `Article`:

[code]

In case you have more than 100 articles, you'll get only a subset of them (first 100). Also

[2018-01-11 07:29] Frexuz opened #89 "Marshalling error for key .. can't be referred to"
Error
[code]

Code

[code]

Result
[code]

Seems quite strange. This object from contentful looks pretty straight forward to me :)

## Gems

    contentful (0.12.0)
      http (~> 1.0)
      json (~> 1.8)
      multi_json (~> 1)
    contentful-management (1.10.0)
      http (> 1.0, < 3.0)
      json (~> 1.8)
      multi_json (~> 1)
    contentful_model (0.2.0)
      activesupport
      contentful

[2018-01-11 08:45] Frexuz commented on #89
Quick workaround:
`format.json { render json: districts.map(&:raw) }` but I'm not sure if that's a good idea, or if there are other ways :) ?

[2018-01-25 19:28] raybradley opened #90 "Wildcard queries?"
Hi, is it possible to perform a matching search, like so:

Wumpeter.find_by(name: '*vonn*')

???

[2018-01-25 19:35] raybradley commented on #90
I think I answered my own question by consulting the underlying API docs (https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/full-text-search-on-a-field/query-entries/console/ruby)

Looks like the thing to do is Wumpeter.find_by('name[match]' => 'vonn')

Hope that helps someone else in the future.

[2018-01-25 19:36] #90 closed

[2018-02-05 06:00] Frexuz commented on #89
`.raw` also removes all nested `DynamicEntry` stuff. This is pretty much a show-stopper for me :(

[code]

[code]

[2018-02-08 20:47] rezonant opened #91 "ContentfulModel gem incorrectly uses Object.const_get"
In regards to the closed issue #30:
This is definitely still a problem if you have a class in a module, such as:

[code]

And then you try to get the constant for it using the way the ContentfulModel gem is doing:

[code]

The error is:

[code]

This is because `.to_sym` makes a symbol containing the whole string including the `::`. Ruby does not expect this. `Object.const_get` expects you to pass

[2018-02-08 20:48] rezonant commented on #30
@dlitvakb You were testing `Object.const_get("Foo::Bar")`, but that is not what the gem is doing. The gem is doing `Object.const_get("Foo::Bar".to_sym)`, which fails in Ruby.

Please see the issue I've opened (#91) which has a more complete explanation of what's wrong.

[2018-02-08 21:29] rezonant commented on #91
Actually this is for the 0.1.x branch, 0.2.x already has a fix, but it has dependency issues, which I will file in a new issue.

[2018-02-08 21:29] #91 closed

[2018-02-08 21:31] rezonant opened #92 "ContentfulModel 0.2.0 depends on Contentful 0.9.0 which is too old"
It looks like the repository has been updated to use newer versions of the Contentful gem. Is this work suitable for a release? We cannot depend on ContentfulModel 0.2.0 because of dependency issues, RubyGems installs 0.1.x instead, which has a bug related to model classes in modules. See #91 and #30

[2018-02-08 21:59] rezonant commented on #92
Depending on the unreleased version of ContentfulModel is working for us. Also found out that `irbtools-more` seems to cause the `contentful` gem to lock up during `entries` queries, not sure why, we removed `irbtools-more` to solve that.

Gemfile:
[code]

[2018-02-13 14:22] jacobduursma opened #93 "snake vs camel? Which is correct?"
It appears the migrations set field id's with snake case using the underscore method

https://github.com/contentful/contentful_model/blob/5b1b938156cb23db6eadfcb352c59aa5be28da0e/lib/contentful_model/migrations/content_type.rb#L42

However chain able queries, expect field id's to be camel case:

For example:

https://github.com/contentful/contentful_model/blob/68f0c8a0379bd983e485fbdff738e37b93ae3

[2018-02-13 14:31] dlitvakb commented on #93
Hey @jacobduursma,

This is a tough question,

The old version of the CDA SDK used a mixed model of internal representation and external mapping of IDs, which the newer versions now handle more transparently.

This caused this gem to diverge a little bit as this changes were done to the SDK.

With the latest version of the SDK, one should be able to despite the field being internally stored as sna

[2018-02-15 03:52] rezonant opened #94 "Chainable queries should not use global state"
Right now, ContentfulModel accomplishes chainable queries by tracking the request parameters within a class variable on the model class being queried. This is not thread safe, and can lead to subtle but problematic bugs within client apps.

Instead, ContentfulModel should use a QueryBuilder pattern, like what ActiveRecord has with it's `Relation` class.

Simplest test case:
[code]

Expected result

[2018-03-13 09:13] dlitvakb commented on #89
Hey @Frexuz,

The `0.x` version of the CDA SDK is not serializable.

Please update to a newer release, `1.x` (works with `contentful_model 0.2.0`) and `2.x` (works with current `master`) are properly serializable.

Cheers

[2018-03-13 09:29] dlitvakb commented on #94
Hey @rezonant,

This is amazing!

Thanks for the contribution,

We're finishing some work in the new Environments feature that's about to be publicly released (currently in beta). Before continuing development here, but we're looking forward to make a new additions to this gem soon.

Cheers

[2018-03-15 17:14] joevandyk opened #95 "(uninitialized constant ContentfulModel::ChainableQueries). Please require the necessary files (RequireAll::LoadError)"
[code]

[2018-03-15 17:15] joevandyk commented on #95
It looks like base.rb gets loaded before the file that defines `ChainableQueries` gets loaded?

[2018-03-15 17:17] joevandyk commented on #95
It works if I downgrade the `require_all` gem to 1.5.0.

[2018-03-15 17:28] joevandyk commented on #95
https://github.com/contentful/contentful_model/pull/96 probably fixes

[2018-03-15 17:29] raybradley commented on #95
@joevandyk yes that's exactly what's happening and, yes, downgrading require_all resolves it. I'll rename the ticket per your suggestion.

[2018-03-15 17:34] joevandyk commented on #95
https://github.com/contentful/contentful_model/pull/97 shows that tests are failing on latest master.

[2018-03-21 20:41] rezonant commented on #95
The gemspec should explicitly depend on 1.5.0 until work can be done to make it work with `require_all` 2.0.

[2018-03-21 20:42] joevandyk commented on #95
https://github.com/contentful/contentful_model/pull/96/files fixes it. @dlitvakb can that get merged and released?

[2018-03-21 21:29] dlitvakb commented on #95
Hi there,

If possible, lock the version in your local `Gemfile` (this works unless you have other conflicting gems).

Within the next 2 weeks, work on `1.0.0` will be restarted and the `require_all` dependency will be completely removed.

Cheers

[2018-03-21 21:36] joevandyk commented on #95
@dlitvakb Not releasing a fix means that version 0.2 is broken for just about everyone until they come to this issue and learn that they have to add another (non-obvious) line to their Gemfile.

I think it would be worthwhile to release a new version of contentful_model that works on a new application.

[2018-03-21 21:46] dlitvakb commented on #95
Hey @joevandyk,

I can do the merge, but cannot make a release, I'm currently on vacation and away from a computer. If just merging and then using `master` works for you, that would be ideal.

Also, making a `0.2.1` release currently is non-trivial, as there are a lot of minor (but still) breaking changes, and I'd spend a lot of time figuring out what should or should not be cherry-picked.

Cheers

[2018-03-27 06:12] Frexuz commented on #89
Not sure what's going on here :)

When im installing or updating contentful_mode, i get these versions

[code]

So I can't update to `1.x` because of `~> 0.9`

So i tried `master`, but then I get this error on boot.

[code]

[2018-03-27 08:08] dlitvakb commented on #89
Hi @Frexuz,

Please add `gem 'require_all', '~> 1.0'` to your Gemfile.

This dependency will be removed in the next release. Which I'm expecting to release within April, as I'm starting active development again in this gem next week.

Cheers

[2018-04-05 12:52] dlitvakb commented on #95
Hey everybody,

I am currently focusing on fixing the remaining bugs and adding the last few new features I want to have for the 1.0.0 release.

This means, I just removed the `require_all` dependency, so you can now update to the latest master version and this will no longer be an issue.

Cheers

[2018-04-05 16:11] #49 closed

[2018-04-09 12:50] dlitvakb commented on #94
Hey @rezonant,

I'm back into working in this gem, and this is currently the task I'm working on.

I've just checked your branch and looks quite similar to the approach I was going to go for.

I've added a few new things already in master which makes your branch incompatible, but I'll take inspiration on it and adapt it to what I have now.

Thanks!

[2018-04-09 14:49] dlitvakb commented on #92
Hi @rezonant,

This is already fixed

[2018-04-09 14:52] dlitvakb commented on #92
Hey @rezonant,

As you said, this has already been fixed for quite a while on the `master` branch.

We're looking forward to releasing the 1.0.0 version of this gem quite soon, I'm working on fixing everything that's pending on my bug queue. But I'm pretty close to done, and I'm quite hopeful that that date is before the end of the month.

Thanks for your contributions!

[2018-04-09 14:56] #94 closed

[2018-04-12 08:31] #88 closed

[2018-04-12 08:49] #78 closed

[2018-04-12 09:57] #73 closed

[2018-04-12 09:57] #74 closed

[2018-04-13 11:27] #85 closed

[2018-04-26 09:24] dlitvakb commented on #92
Quick update on this,

I'm done with bug fixes, now adding one or two extra features before release.

Release is scheduled for May 2nd.

Cheers

[2018-04-26 09:25] dlitvakb commented on #93
Release of the 1.0.0 version is scheduled for May 2nd.

Cheers

[2018-04-26 09:26] dlitvakb commented on #89
Current `master` has `require_all` removed.

Release of `1.0.0` version is scheduled for May 2nd.

Cheers

[2018-04-27 13:15] #3 closed

[2018-05-02 08:18] #92 closed

[2018-05-17 11:06] niquepa opened #110 "Contentful::Link rather than Contentful::Asset Cached object"
I have the following code to get some entries from contentful:

[code]

each entry has a relation to an asset (picture), so I'm accessing it like:

[code]

It works without any problem and if you inspect each picture you'll see:
[code]

but if I try to cache the response like this:

[code]

and then iterate the entries, only the first item has the relation as Contentful::Asset, the rest of items h

[2018-06-05 10:44] niquepa commented on #110
I have the same Issue reported in contentful.rb https://github.com/contentful/contentful.rb/issues/138

[2018-06-11 08:04] dlitvakb commented on #110
Hi @niquepa,

Can you let me know which version of the integration and SDK you are using?

This issue has been fixed almost a year ago. The `contentful_model` integration has been recently updated to version `1.x` which includes all the new updates to the SDKs.

Cheers

[2018-06-11 08:52] svpersteve opened #111 "Infinite loop calling .all, .first, .find and .query on a Contentful model"
Hi 😄

I'm trying to render articles from Contentful as a blog and both Rails console and Rails server are hanging when they try to call `Article.all`, `Article.all.load` or `Article.first`.

I've made a new Rails app to isolate what I'm doing and show you what I've done: https://github.com/svpersteve/contentful_articles

I'm not sure if this is a bug or if it's something I've done wrong.

[2018-06-11 09:44] dlitvakb commented on #111
Hi @svpersteve,

By any chance do you have a circular reference between your articles?

This may be the cause of your issue, if you do have a circular reference, there's a few different configuration options you can tweak depending on your needs.

If using caching, then on the initializer add:

[code]

This will limit the default behaviour of generating a tree 20 levels deep (if reached, in case o

[2018-06-11 10:39] svpersteve commented on #111
Ah brilliant, thanks @dlitvakb! It works when I add `max_include_resolution_depth`.

Just while you're here, do you have an example of what a circular reference between articles on Contentful might look like? As far as I can see they're just articles with fields, I don't see how they're linking to each other.

[2018-06-11 11:13] dlitvakb commented on #111
Hey @svpersteve,

A circular reference looks something like this:

This can be happening on the 1st level of the relationship, or maybe you have `A -> B -> C -> A` or even a more complex relationship. But in any case, this is generating a circular structure, which may become extremely complex as when hydrating it it can exponentially grow.

Hope this explains the issue a bit better,

Cheers

[2018-06-11 14:48] svpersteve commented on #111
Ah, I think it must be the Twitter cards and/or article authors. Thanks for taking the time to explain @dlitvakb 🙏🏻

[2018-06-11 14:48] #111 closed

[2018-06-11 15:46] bfioca opened #112 "Support for multiple spaces"
Feature Request: It would be great if contentful_model supported multi-space configurations.

[2018-06-11 19:58] pezholio opened #113 "undefined local variable or method `locale'"
Hi,

I'm trying to create content via `contentful_model`. I have a model:

[code]

And when trying to create a new instance of `Comment` like so:

[code]

I get the following error:

[code]

Any ideas?

[2018-06-11 20:02] pezholio commented on #113
I've got a fuller backtrace here, if it helps:

[code]

[2018-06-11 20:08] dlitvakb commented on #113
Hey @pezholio,

You should be using `Comment.create` instead as shown in the documentation here: https://github.com/contentful/contentful_model#creating-entries

Cheers

[2018-06-11 20:12] pezholio commented on #113
Ah ha. Gotcha, thanks for the quick response! 👍

[2018-06-11 20:12] #113 closed

[2018-06-13 21:31] niquepa commented on #110
Hi @dlitvakb I'm including master branch:

`gem 'contentful_model', :git => 'https://github.com/contentful/contentful_model.git', :branch => 'master'`

checking the Gemfile.lock seems like I'm using v0.2.0:

[code]

[2018-06-13 22:20] dlitvakb commented on #110
Hey @niquepa,

Please try updating to use `1.0.0`, as the dependencies listed seem outdated.

Cheers

[2018-06-14 03:51] niquepa commented on #110
This is how my Gemfile.lock looks now:

[code]

but the error stills present. The way I get the content from contentful is:

[code]

Web::Dentist class is just 3 lines of code:

[code]

The weird thing is that the first element always has the proper relation as `ContentfulModel::Asset` but the other elements have `ContentfulModel::Link`

[code]

As you can see in the below images, that happens for

[2018-06-14 09:40] dlitvakb commented on #110
Hey @niquepa,

Can you create a support request here `https://support.contentful.com` requesting for me and provide me your Space ID and CDA Token? This looks like a possible bug, but I cannot know for sure unless I test it further.

Cheers

[2018-06-14 13:49] niquepa commented on #110
@dlitvakb Done, thanks.

[2018-06-15 12:51] pezholio opened #114 "Association sometimes returns a hash"
I have two models, `BlogPost` and `Comment`

[code]

[code]

A `BlogPost` has many `Comments`, and this seems to work most of the time. However, when running my tests, from time to time, when I try and get the associated blog post from a comment, `ContentfulModel` returns a hash, rather than the actual model:

[code]

Any ideas as to where I'm going wrong?

[2018-06-15 14:00] dlitvakb commented on #114
Hey @pezholio,

Which version of the gem are you using?

Cheers

[2018-06-15 14:01] pezholio commented on #114
1.0.0 👍

[2018-06-15 14:03] dlitvakb commented on #114
@pezholio It's because what you get as a response from `create` and `publish` is a CMA object, there the references are not hydrated. If you want the full reference, you should do `Comment.find(comment.id).associated_record`, which is the CDA object.

Cheers

[2018-06-16 06:35] pezholio commented on #114
Ah, that makes sense, thanks! 👍

[2018-06-16 06:35] #114 closed

[2018-06-16 06:47] pezholio opened #115 "Using migrations without a database"
I have a project that isn't backed by a database, so can't use the migrations module as set out in the examples. Is this something I'll have to build from scratch, or is there an existing solution kicking around that I may not have seen?

I've found the (not supported by Contentful) [contentful-migrations.rb](https://github.com/monkseal/contentful-migrations.rb) gem, but this has a dependency on t

[2018-06-16 09:53] dlitvakb commented on #115
Hey @pezholio,

The migrations of this gem are completely decoupled from `ActiveRecord` itself, the examples show how to use them with `ActiveRecord` because it's the most common use-case.

You can use them just like:

[code]

Hope this helps,

Cheers

[2018-06-18 08:16] pezholio commented on #115
Cool, that's awesome. I'll have a look and see how I get on 👍 There may be some reusable logic around rake tasks etc that I can contribute back.

[2018-06-18 08:43] #115 closed

[2018-06-26 14:56] pezholio opened #116 "Getting errors when publishing"
When I try to publish a piece of content from the preview API, I get alternating errors:

[code]

The request that gets logged is as follows:

[code]

Any ideas where I'm going wrong?

[2018-06-29 05:33] shaug opened #117 "to_s(:usec) time format not defined in Rails 4.2"
https://github.com/contentful/contentful_model/blob/df8bd84b9fd0390797e79b4adf4137f0db445265/lib/contentful_model/base.rb#L24

The `usec` time format was introduced in Rails 5.

http://api.rubyonrails.org/v5.0/classes/Time.html

If 4.2 compatibility is desired, then this format will need to be defined as such:

[code]
Likewise, if this library is intended to be Rails-agnostic, then it's probably p

[2018-07-10 17:01] reidcooper commented on #63
Is there the ability to use polymorphic associations?

[2018-07-25 13:43] pezholio commented on #116
This is still an issue. It seems to be occurring randomly. Users have reported it to me, but when I've gone into the console and tried it myself it works.

[2018-08-01 09:32] dlitvakb commented on #116
Hey @pezholio,

Try doing the following:

[code]

It should not be required, but in some very edge cases, it may incur in a race condition. Using this method should partially mitigate that race condition, though it doesn't ensure it, as the `Manageable` module which exposes the `publish` method is already doing it under the hood. But manually triggering it may affect the ordering in which it happe

[2018-08-01 09:42] pezholio commented on #116
Cool. I'll give it a try. Thanks!

[2018-08-01 12:07] dlitvakb commented on #112
Hey @bfioca,

This would be an interesting feature, but I'd have to think into how to approach it, since it would involve a big refactor of the gem's configuration, which would be very incompatible with what's currently available. This refactor would also add complexity when creating the `ContentfulModel::Base` user-defined classes, as users would have to add the space which they want to use for e

[2018-08-01 12:09] dlitvakb commented on #117
Hey @shaug,

Thanks for this, I'll look into replacing the call with your suggestion.

Cheers

[2018-08-01 12:28] dlitvakb commented on #63
Hey @reidcooper,

The answer is complicated, as it is both yes and no. And which answer you get depends on the usage pattern you want to accomplish.

So, for the positive case, if you don't define the relationships for fields that have polymorphic relationships, the `contentful.rb` gem, will automatically resolve the classes for you and solve this issue without doing anything. That said, you loose

[2018-08-01 12:58] dlitvakb commented on #117
This has just been released as `1.0.1`.

Cheers

[2018-08-24 11:17] aldreth opened #121 "coerce_field not working"
I have an event content model that has a `datetime` field that I want to coerce into a `Datetime`

[code]

When I call `datetime` on an event instance I get the error `no implicit conversion of DateTime into String`

Somehow, the value of the field is coerced twice, once on initialization & the second time on accessing the value. The second time https://github.com/contentful/contentful.rb/blob/mas

[2018-08-24 12:32] dlitvakb commented on #121
Thanks @aldreth I'll take a look into this.

Cheers

[2018-08-24 15:16] dlitvakb commented on #121
This has been now fixed and merged.

Cheers

[2018-08-24 15:16] #121 closed

[2018-08-24 15:54] aldreth commented on #121
Thanks very much @dlitvak.

[2018-08-27 13:25] #110 closed

[2018-09-18 08:22] pfeiffer opened #122 "Rails: Support reloading of classes in development"
At the moment changing a method in a class descending from ContentfulModel::Base requires full reload of Rails environment.

Example:

[code]

[code]

Changing the `#title` method:

[code]

And then reloading:
[code]

[2018-10-09 11:26] julianrubisch opened #123 "How to update an entry with empty fields?"
I have got a feeling that I'm missing something very basic here, please pardon me.

I have a very basic CTF model with some string attributes, some of which are not required, i.e. empty.

With `return_nil_for_empty` I can have their values be coerced to `nil`, but as it seems there's no way of setting them? I get `NoMethodError`s for every `attr_writer` to a non-required field that is blank, hence

[2018-10-09 13:01] dlitvakb commented on #123
Hey @julianrubisch,

If you want to write for attributes that are empty, currently the way of doing it is:

[code]

I'll add an issue to our backlog to forward this functionality to the `contentful_model` entry wrapper, so that you don't need to directly interact with the underlying management object, but cannot promise exactly when this would be completed.

Hope this workaround works for you,

Ch

[2018-10-09 14:55] julianrubisch commented on #123
thanks, that clarifies it a little :)

Though now I'm seeing something like https://github.com/contentful/contentful_model/issues/116 ... (`undefined method version= for nil:NilClass`) quite randomly...

Anything I can do to help?

[2018-10-09 15:11] julianrubisch commented on #123
Yep well, it’s the same to_management method, isn’t it?

[2018-10-09 15:28] dlitvakb commented on #123
Yes, that's correct.

Cheers

[2018-11-15 17:39] reidcooper commented on #51
Would like to query the CDA with the `publishedAt` attribute

[2018-11-19 13:32] dlitvakb commented on #51
Hey @reidcooper,

The `publishedAt` property is only part of the CMA. The equivalent parameter for CDA would be `sys.updatedAt`, which coincides with the `sys.publishedAt` from CMA.

Cheers

[2018-12-05 19:56] mrGrazy commented on #122
The problem that is breaking reloading is that mappings are not readded if the class is redefined:
https://github.com/contentful/contentful_model/blob/b286afd939daae87fdeb1f320f43753dcaae3144/lib/contentful_model/base.rb#L123

If I override this method to return false, the class gets reloaded fine in development.

[code]

This happens because the rails environement persists class variables like `e

[2019-01-30 19:21] #63 closed

[2019-04-09 20:13] FuzzWorley opened #126 "category field params breaking for category with commas"
Category field params are not working as expected for one of our categories: "Design, Photography, & Fashion". My theory is that it has something to do with the commas, as it's our only category (of 8) that isn't working, and the only category that has commas in it.

Using `find_by`, and passing a string to the category field, the query works as expected:
[code]

But if I pass it as an argument in

[2019-04-10 08:27] dlitvakb commented on #126
Hey @FuzzWorley,

Your issue is happening because it's treating each of the comma separated values as a different element on the array (this is how arrays are interpreted when sent as query parameters in an HTTP request), in order to get this to work for your case when the comma is part of what you're searching for, you need to replace the `,` character to the HTML Entity sequence that replaces th

[2019-04-11 16:53] FuzzWorley commented on #126
Hey @dlitvakb ,

That makes sense, thanks for the info! Still having trouble after encoding with CGI::encode.
[code]
This string matches the one that I get from the w3schools generator, but I've also tried multiple encoding libraries because that one didn't work:
CGI.escapeHTML
CGI::escape
URI.escape

And none of them seem to work. It appears URL encoding breaks this query in general:
[code]
It on

[2019-04-12 12:42] dlitvakb commented on #126
Thanks for trying this out, I think that the issue is that your `%2C` is getting actually transformed to `%252C` (basically the `%` character itself getting URL encoded.

I'll take a look into what possibly be done to avoid this issue.

Cheers

[2019-04-12 15:10] FuzzWorley commented on #126
Cool, I appreciate your time on this as it's quite important to our business. I'm not convinced that %2C being transformed is the issue though based on the fact that even when I encode something that returns no percentages, the query still breaks.

[code]

[2019-04-15 14:35] FuzzWorley commented on #126
Hey @dlitvakb

Any update on this issue?

[2019-04-16 08:16] dlitvakb commented on #126
Not yet, sadly hadn't got dedicated time to look into this until today.

Will check and come back to you as soon as I find something.

Cheers

[2019-04-16 09:20] dlitvakb commented on #126
Hey @FuzzWorley,

I've looked into the SDK - it is sending the proper percent encoded values (so you don't need to do it yourself). This means that there is a bug in our backend service. I will forward this to the corresponding team and give them the appropriate context.

Cheers

[2019-04-16 09:37] dlitvakb commented on #126
Looks like our backend treats `%2C` and `,` as the same character for `in` queries, therefore it will not work for your particular use case. If possible, you can replace it to using `eq` instead, and it will be working properly.

This is sadly a technical limitation of our backend, hopefully you can use the workaround.

Cheers

[2019-04-17 15:23] FuzzWorley commented on #126
Thanks @dlitvakb! This appears to be fixing the issue for now.

[2019-04-17 15:23] #126 closed

[2019-05-23 14:25] MattFenelon opened #131 "Lost configuration on ContentfulModel::Management.new"
This is related to #130.

I'm not sure if this is a bug in this library or contentful/contentful-management.rb.

In the initialiser for `Contentful::Management::Client` the initialised object is saved to a thread variable.

https://github.com/contentful/contentful-management.rb/blob/6401797059672994269220594dff8c084957de27/lib/contentful/management/client.rb#L91-L98

The thread variable is accesse

[2019-07-18 16:15] timsly commented on #122
Here is how this problem can be fixed
[code]
It is still an expiemintal solution I am keeping an eye on it in my current project.
And if it will work I will send a PR with a more generic fix

[2019-10-09 05:46] fsubal opened #136 "find! and first!"
### Issue type

Feature request

### Example Problem

Currently I'm using contentful_model + Rails, and caching our view template so that it prevents too many request to Contentful API.

[code]

Our `content` could be `nil`. I want to make this case `404 Not Found`.

As a workaround, I'm doing this.

[code]

[code]

This works, but I'd like a more handy way.

### Feature Request

How about `Conten

[2020-01-11 16:37] fsubal commented on #136
I think this is solved by #138 ?

[2020-01-11 16:37] #136 closed

[2020-03-31 22:38] dpikt commented on #9
I'm running into this error when using this library with https://github.com/fast-jsonapi/fast_jsonapi.  Since the class `respond_to?(:to_json)`, raising an exception is unexpected- can this be reopened?

[2020-03-31 22:50] dpikt commented on #9
I'd be happy to submit a PR if so.

[2020-04-01 14:45] bhtabor opened #140 "How to update an association when empty?"
The README has a section on fetching associations (https://github.com/contentful/contentful_model#associations) and updating content (https://github.com/contentful/contentful_model#updating-content). But, it is not clear how we update associations when references are empty. Can it be done with contentful_model or should we use contentful_management?

Apparently, reference field setters are not ava

[2020-04-06 18:45] dpikt opened #142 "`#raw` output on rich text fields contains model objects"
Not sure if this is a bug or expected behavior- feel free to close if it's the latter.

I've got a model that has a rich text field with an embedded entry. When I call `#raw` on an instance of that model, the output contains the entry ruby object:

[code]

Should this just be the JSON of the API response instead?

[2020-05-13 09:01] #140 closed

[2020-09-30 14:08] sstrudeau commented on #13
FWIW I ran into this when I installed both the contentful_rails and contentful_model gems but only configured contentful_model in an initializer. It'd still be useful to note the proper way to configure contentful_model when contentful_rails is also installed in the README on contentful_model @edtjones

[2020-10-15 17:22] inveterateliterate opened #145 "calling parent on localized entry does not return parent in same locale"
**Expectation**
When calling a localized entry through the gem, I expect that traversing the hierarchy of the model will also return entries with localized fields for that locale. That is, when calling `child.parent`, or `child.children` in a locale other than my default, I expect both the parent and the children to be returned in that locale.

 I hope I'm just missing a parameter or option or con

[2020-11-13 20:22] arielkirkwood commented on #122
@dlitvakb Do you still need more information in order to understand how to improve this? This has been one of the most frustrating parts of using this library :(

[2021-03-22 16:11] asknacho commented on #142
Still happening today, should we switch to Contentful::Client for this?

[2021-03-22 16:32] dlitvakb commented on #142
This is expected behaviour.

Cheers

On Mon, Mar 22, 2021 at 5:11 PM Ignacio Morales ***@***.***>
wrote:

--
David Litvak Bruno
Solution Architect, Customer Experience - Solution Services Team

<https://ctfl.io/3kAf9ak>

***@***.***
+491629770622
Twitter @dlitvakb <https://twitter.com/dlitvakb>
GitHub @dlitvakb <https://github.com/dlitvakb>
LinkedIn in/dlitvakb/ <https://www.linkedin.com/in/dlitva

[2021-09-15 13:55] ncphillips opened #147 "Is this project still alive?"
Is this project dead?
- There hasn't been any commits to `contentful_rails` or `contentful_model` in a couple years.
- The official docs don't link to it
- There's open `contentful_rails` tickets saying that caching is totally broken
- etc.

[2022-01-28 00:40] joevandyk commented on #147
Any update?

[2022-01-28 14:54] ncphillips commented on #147
🤷 I opted to not use it

[2022-06-02 16:25] viral810 commented on #147
Same question. cc: @ruderngespra